.container {
    width: 1000px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}

form {
    width: 400px;
    margin: 20px auto;
    font-size: 18px;
}

form #submit {
    margin-left: 70px;
    margin-top: 20px;
}

.h1info {

    padding:20px;
    width: 900px;
    font-size:20px;
    margin: 0 auto;
    text-align: center;
}
.info {

    padding:20px;
    width: 900px;
    font-size:18px;
    margin: 0 auto;
    text-align: left;
}

.image img {
    margin-top: 50px;
    display: block;
    margin: auto;
    width: 50%;
}